<%= form_for @vacation_calculator, method: :get, url: calculate_path do |f| %>
    <% if @vacation_calculator.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@vacation_calculator.errors.count, "error") %> prohibited this form from being saved:</h2>

            <ul>
                <% @vacation_calculator.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label "Start date" %><br>
        <%= date_field(:vacation_calculator, :start_date, value: @vacation_calculator.start_date) %>
    </div>
    <div class="field">
        <%= f.label "End date" %><br>
        <%= date_field(:vacation_calculator, :end_date, value: @vacation_calculator.end_date) %>
    </div>
    <div class="field">
        <%= f.label :accrual_rate %><br>
        <%= f.text_field :accrual_rate %>
    </div>
    <div class="field">
        <%= f.label :create %><br>
        <%= f.text_field :create %>
    </div>
    <div class="actions">
        <%= f.submit "Calculate vacation days" %>
    </div>
<% end %>