= form_for @vacation_balance_request, method: :get, url: calculate_path do |f|
  - if @vacation_balance_request.errors.any?
    .alert.alert-danger
      %h2
        = pluralize(@vacation_balance_request.errors.count, "error")
        prohibited this form from being saved:
      %ul
        - @vacation_balance_request.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :vacation_balance
    %br/
    = f.text_field :vacation_balance, :class => 'form-control'
  .form-group
    = f.label "Start date"
    %br/
    = date_field(:vacation_balance_request, :start_date, value: @vacation_balance_request.start_date,  :class => 'form-control')
  .form-group
    = f.label "End date"
    %br/
    = date_field(:vacation_balance_request, :end_date, value: @vacation_balance_request.end_date,  :class => 'form-control')
  .form-group
    = f.label :accrual_rate
    %br/
    = f.text_field :accrual_rate,  :class => 'form-control'
  .action
    = f.submit "Calculate vacation days", :class => 'btn btn-primary btn-block'