<%= form_for @vacation_balance_request, method: :get, url: calculate_path do |f| %>
    <% if @vacation_balance_request.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@vacation_balance_request.errors.count, "error") %> prohibited this form from being saved:</h2>

            <ul>
                <% @vacation_balance_request.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :vacation_balance %><br>
        <%= f.text_field :vacation_balance %>
    </div>
    <div class="field">
        <%= f.label "Start date" %><br>
        <%= date_field(:vacation_balance_request, :start_date, value: @vacation_balance_request.start_date) %>
    </div>
    <div class="field">
        <%= f.label "End date" %><br>
        <%= date_field(:vacation_balance_request, :end_date, value: @vacation_balance_request.end_date) %>
    </div>
    <div class="field">
        <%= f.label :accrual_rate %><br>
        <%= f.text_field :accrual_rate %>
    </div>
    <div class="actions">
        <%= f.submit "Calculate vacation days" %>
    </div>
<% end %>